# Google Cloud & Vertex AI
GCP_PROJECT=gen-lang-client-0862587160
GCP_REGION=us-west1
CLOUD_RUN_SERVICE=andina-vision-landing
PORT=8080

# Google AI Studio / Gemini API
GEMINI_API_KEY=tu_api_key_aqui
GEMINI_MODEL=gemini-1.5-pro

# Google Stitch Design System
STITCH_PROJECT_ID=projects/12916038623650348087
STITCH_API_KEY=tu_stitch_key

# Public App Variables
NEXT_PUBLIC_APP_URL=https://andina-vision-landing-349577440002.us-west1.run.app
NEXT_PUBLIC_COMPANY_NAME="Andina Vision 360"
NEXT_PUBLIC_WHATSAPP="+56984920192"
